<div class="row text-center">

    <h1 class="text-black"> whatever you are looking for was Not found</h1>
    <hr />
    <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Back to Home Page</a>
</div>